html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

header,
#main-banner-content,
.services,
.main-website,
footer {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: cadetblue;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo h3 {
  padding-left: 1rem;
}

nav ul {
  display: flex;
}

li {
  padding: 1rem 2rem;
}

a {
  color: white;
  text-decoration: none;
}

header nav ul.sandwich {
  display: none;
}

.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-size: cover;
  height: 30rem;
}

#main-banner-content {
  display: flex;
  justify-content: flex-end;
}

#main-banner-content h1{
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  font-weight: bold;
  position: relative;
  top: 10rem;
  margin-right: -2rem;
}



.services {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 8rem;
}

.services .exams img {
  width: 3.5rem;
}

.services .fittings img,
.services .delivery img {
  width: 5rem;
}

.services img {
  margin-left: 6rem;
}

.services div {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.services p {
  margin-left: 6rem;
  margin-top: 1.5rem;
}

.main-website {
  display: flex;

}

.main-website h3 {
  background-color: cadetblue;
  width: 10rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.philosophy, .appointments {
  margin: 0 2.5rem;
  width: 35%;
  margin-bottom: 5rem;
}

.appointments {
  margin-left: 5%;
}



footer{
	background-color: azure;
	width: 960px;
	margin: 0 auto;
	padding: 4rem;
	/* to vertically align the navigation elements: */
	display: flex;
	align-items: center;
}

footer img{
	height: 1.5rem;
	margin-right: 1rem;
}

@media only screen and (max-width: 960px) {
  .main-banner {
		height: 22rem;
		padding-top: 0;
	}
	.main-banner header {
		width: 100%;
	}
	#main-banner-content {
		width:100%;
	}
  header {
    top: 0;
  }
	#main-banner-content h1{
		padding: 0.75rem 4rem;
		top: 5rem;
		margin-right: 2rem;
    font-size: 1.33rem
	}
  .services {
    width: 100%;
  }
  .main-website {
    width: 100%;
  }
  footer {
    width: calc(100% - 8rem);
  }
}

@media only screen and (max-width: 770px) {
	header nav ul{
		display: none;
	}
	header nav ul.sandwich{
		display: block;
	}
}

@media only screen and (max-width: 630px) {
	.main-banner{
		height: 17rem;
	}
	header .logo h3{
		display: none;
	}
	#main-banner-content {
		padding: 0;
		margin: 0;
		top: 9rem;
		width: 100%;
		text-align: center;
	}
	#main-banner-content h1{
		font-size: 1rem;
		margin:1rem 0;
	}

  .services {
    display: inline-block;
    justify-content: center;

  }
/*the following sections don't seem to be working*/
  .services .exams {
    margin-top: 3.77rem;
  }

  .services .fittings {
    margin: 1.54rem 0;
  }

  .services .delivery {
    margin-bottom: 3.77rem;
  }

  .main-website {
    display: inline-block;
    width: 100%;
		padding:0;
		margin:0;
		margin-bottom: 4rem;
  }

  .main-website .philosophy, .main-website .appointments {
    margin: 7.5rem 0;
    width: 100%;
  }

  .main-website .philosophy h2 {
    width: 100%;
    padding: 0.5rem 0;
		text-align: center;
  }

  .main-website .philosophy p {
    padding: 1rem;
  }

  .main-website .appointments{
    margin-top: 4rem;
  }

  .main-website .appointments h2 {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .main-website .appointments p {
    padding: 1rem;
  }

  .main-website h3 {
    width: 100%;
  }



  footer {
    justify-content: center;
  }

  footer h4 {
    display: none;
  }



}
